#logo {
  background-color: rgba(168, 218, 238, 0.582);
  width: 475px;
}

#name {
  font-size: 50px;
  font-weight: bold;
  color: #3954a5;
  text-align: center;
  padding-top: 10px;
}

#box {
  display: flex;
  margin: 20px;
  align-items: center;
}

#image {
  height: 150px;
  width: auto;
}

#moto {
  font-size: 30px;
  font-weight: bold;
  text-align: right;
  color: #625d57;
  margin: 10px;
}

#number {
  font-size: 50px;
  font-weight: bold;
  color: #3954a5;
  text-align: center;
  padding-bottom: 10px;
}